

.container {
    max-width: 400px;
    margin: auto;
    font-family: monospace;
    background-color: #EFE4C0;
    padding: 10px 10px;
    color: #35485e;
}

h2,
.buttons,
footer,
fieldset {
   text-align: center;
   letter-spacing: 0.08em;
   margin: 20px auto;
}

ol {
    line-height: 20px;
}

legend {
    font-size: large;
}

img {
    width: 100%;
}


