body {
    background-color: #EFE4C0;
    text-align: center;
}
.container {
    max-width: 400px;
    margin: auto;
    font-family: monospace;
    padding: 10px 10px;
    color: #35485e;
}

h2,
.buttons,
footer,
fieldset {
   letter-spacing: 0.08em;
   margin: 20px auto;
}

legend {
    font-size: large;
}

img {
    width: 100%;
}

ol,
#description{
    line-height: 20px;
    text-align: start;
}

li:hover {
    cursor: pointer;
    color: black;
    transform: translate(5px)
}

li:active {
    transform: scaleZ(1.5);
}

figure {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    margin: auto;
    padding: 5px 5px;
}

figcaption {
    font-size: large;
    font-weight: bold;
}

pre {
    text-align: start;
}


